.balloon {
  border-radius: 60% 60% 55% 55%;
  width: 150px;
  height: 210px;
  margin-top: 30px;
  background: radial-gradient(ellipse at center, #acd9fc 10%, #0090ff 50%, #002f53 90%);
  transform: translate(0, 250px) rotate(-50deg);
  transition: 3s cubic-bezier(.65, 1.95, .03, .32);
  z-index: 2;
  position: relative;
}

.balloon:after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #002f53;
  position: absolute;
  bottom: -8px;
  right: 62px;
}

.shadow {
  width: 200px;
  height: 40px;
  background: radial-gradient(#333 5%, #999 30%, #fff 70%);
  border-radius: 50%;
  margin-top: -208px;
  transform: translate(0, 426px) scale(1);
  transition: 3s cubic-bezier(.65, 1.95, .03, .32);
  z-index: 1;
  position: relative;
}

.balloon:target + .shadow {
  transform: translate(0, 426px) scale(1.5, 1);
  opacity: 0;
}

.balloon:target {
  transition: 3s cubic-bezier(.65, 2, .03, .32);
  transform: translate(0) rotate(0deg);
}

.container {
  width: 500px;
  margin: 0 auto;
  font: .9em Arial;
}

a {
  padding: 5px 10px;
  background: blue;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
}

a:hover {
  opacity: 0.6;
}