body {
  background: url("../img/light_noise_diagonal.png");
  font: 1em 'PT Sans', Tahoma, Arial;
}

#wrapper {
  perspective: 1000px;
  margin: 200px;
  border: 1px solid red;
}

#cube {
  position: relative;
  width: 300px;
  height: 300px;
  transform-origin: 50% 50% -150px;
  transform-style: preserve-3d;
  margin: 0 auto;
}

.side {
  width: 300px;
  height: 300px;
  background: rgbs(0,0,0,.3);
  background: radial-gradient(rgba(0,0,0,.1), rgba(0,0,0,.5));
  position: absolute;
  border: 10px solid #fff;
  border-radius: 10px;
  font-size: 5em;
  color: #fff;
  line-height: 300px;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4);
  box-shadow: 0 0 6px rgba(0,0,0,.5);
  transform-origin: 50% 50% -150px;
}

#side2 {
  transform: rotateY(90deg);
}

#side3 {
  transform: rotateY(-90deg);
}

#side4 {
  transform: rotateX(90deg);
}

#side5 {
  transform: rotateX(-90deg);
}

#side6 {
  transform: rotateY(180deg);
}