.parallax {
  perspective: 300px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
  /*background-color: green;*/
}
.parallax__layer--back {
  transform: translateZ(-300px) scale(4);
  /*background-color: blue;*/
}
.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
  /*transform: translate3d(700px, 0, -800px) rotateY(30deg);*/
}
.title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    /*background-color: red;*/
  }