div {
  border: solid 2px #f00;
  margin: 0 auto;
}

#back {
  border: dashed 1px blue;
  //margin: 0 auto;
  max-width: 1300px;
}

#wide1200 {
  max-width: 1200px;
  height: 950px;
}

#wide900 {
  max-width: 900px;
  height: 650px;
}
#wide700 {
  max-width: 700px;
  height: 450px;
}

div:hover {
  border-color: #aaa;
}