@keyframes typing {
  from {
    width: 0; 
  } 
}
@keyframes cursor { 
  50% {
    border-color: transparent; 
  } 
}

.text {
  width: 0;
  border-right: .1em solid;
  overflow: hidden;
  font: 5em monospace;
  margin-top: 50px;
  animation: cursor 1s step-end infinite;
  white-space: nowrap;
}

#go:target .text {
  width: 6.6em;
	width: 19ch; /* Number of characters */
  animation: typing 4s steps(19), cursor 1s step-end infinite;
}

a {
  padding: 5px 10px;
  background: blue;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  font: .9em Arial;
  margin-top: 10px;
  display: inline-block;
}

a:hover {
  opacity: 0.6;
}